body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0E3D2;
}
 
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}
 
.sidebar {
    background-color: #D4B494;
    width: 30%;
    padding: 20px;
}
 
.content {
    background-color: #A67953;
    width: 70%;
    padding: 20px;
    color: white;
}
 
.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}
 
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
 
.sidebar ul li {
    margin: 15px 0;
    font-size: 18px;
}
 
.sidebar ul li:before {
    content: '⚪';
    margin-right: 10px;
    color: black;
}
 
.sidebar ul li.checked:before {
    content: '✅';
    color: green;
}
 
.content h2 {
    font-size: 24px;
    color: #000;
}
 
.content p {
    font-size: 18px;
    color: #000;
}
 
.content img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}
 
.logo {
    float: right;
    margin-top: 20px;
}
