*
{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #d4f6c8;
    position: relative;
}
   


.Iconesbarra
{
    background-color: #d4f6c8;
    display: flex;
    list-style: none;
    justify-content:space-between;
    align-items: center;
    padding: 0px 30px;
  
}
.entrarbotao
{
    border: 2px solid black;
    background-color: white;
    color: black;   
    padding: 20px 30px;
    border-radius: 20px;
    border: 2px solid black;

}
.cadastrobotao
{
    border: 2px solid black;
    background-color: brown;
    color: black;
    padding: 20px;
    border-radius: 20px;
}
.cadastro
{
    background-color: #29e2b1;
    height: 485px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.mensagem
{
    display: block;
    margin-left: 160px;
}
.ajude
{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.email
{
    display: block;

}
.emailtxt
{
    
    font-weight:bold;
    margin: 30px 180px;
   
}
#email
{
    padding: 15px;
    width: 350px;
    border-radius: 10px;
    border: none;
        color: rgba(0, 0, 0, 0.3);
    
    
}
#senha
{
        color: rgba(0, 0, 0, 0.3);
    
    padding: 15px;
    width: 350px;
    border-radius: 10px;
    border: none;
}
.botao
{
    margin-top: 10px;
    padding: 5px;
    background-color: wheat;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    transition: 0.3s;
 
    
}
.botao:hover{
    background-color: lightgreen;
}  

